
<div class="row">
  <div class="col-lg-6">
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Scatter plot</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div id="scatter-plot"></div>
      </div>
    </div>
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">3D bubbles</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div id="threeD-bubbles"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Bubble chart</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div id="bubble-chart"></div>
      </div>
    </div>
  </div>
</div>