
<div class="row">
  <div class="col-lg-6">
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Scatter plot</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div id="ajax-loaded-data"></div>
      </div>
    </div>
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Time series, zoomable</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div id="time-series-zoomable"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">With data labels</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div id="with-data-labels"></div>
      </div>
    </div>
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Spline with inverted axes</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div id="spline-with-inverted-axes"></div>
      </div>
    </div>
  </div>
</div>