
<div class="row">
  <div class="col-lg-6">
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Line Chart</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <canvas id="line-chart" width="600" height="400" style="height: 400px !important"></canvas>
      </div>
    </div>
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Radar Chart</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <canvas id="radar-chart" width="600" height="400" style="height: 400px !important"></canvas>
      </div>
    </div>
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Pie Chart</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <canvas id="pie-chart" width="600" height="400" style="height: 400px !important"></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Bar Chart</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <canvas id="bar-chart" width="600" height="400" style="height: 400px !important"></canvas>
      </div>
    </div>
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Polar area chart</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <canvas id="polar-area-chart" width="600" height="400" style="height: 400px !important"></canvas>
      </div>
    </div>
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Doughnut Chart</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <canvas id="doughnut-chart" width="600" height="400" style="height: 400px !important"></canvas>
      </div>
    </div>
  </div>
</div>