
<div id="error-page">
  <div id="error-page-content">
    <h1>500!</h1>
    <h4>Internal Server Error</h4>
    <p>The website cannot display the page.</p>
    <p><a href='/#/'>Return home</a> or please come back in a while.</p>
  </div>
</div>