
<div id="lock-screen-page">
  <div class="page-form">
    <div class="body-content">
      <div id="lock-screen-avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" alt="" class="img-responsive img-circle"/></div>
      <div id="lock-screen-info">
        <h1>John Doe</h1>
        <div class="email">example@email.com</div>
        <form action="/#/" class="mtl mbl">
          <div class="input-icon right"><i class="fa fa-unlock"></i>
            <input type="password" value="123456789" class="form-control"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>