
<div id="invoice-page" class="row">
  <div class="col-md-7">
    <div class="panel">
      <div class="panel-body">
        <div class="invoice-title">
          <h2>Invoice</h2>
          <p class="mbn text-left">Invoice# 10335</p>
          <p class="text-left">April 22, 2014</p>
        </div>
        <div class="pull-left">
          <h2 class="text-green logo">μAdmin</h2>
          <address class="mbn">78183 Sweards Bluff Ave<br/>New York, CA 94107<br/><abbr title="Phone">P:</abbr>(123) 456-7890<br/><br/>info@email.com</address>
        </div>
        <div class="clearfix"></div>
        <hr/>
        <div class="row">
          <div class="col-md-3">
            <address><strong>Billed To:</strong><br/>John Smith<br/>Incorporesano Ltd.<br/>(123) 456-7890</address>
          </div>
          <div class="col-md-3">
            <address><strong>Shipped To:</strong><br/>John Doe<br/>78183 Sweards Bluff Ave<br/>(123) 456-7890</address>
          </div>
          <div class="col-md-3">
            <address><strong>Due Date:</strong><br/>21 March 2014</address>
          </div>
          <div class="col-md-3">
            <address><strong>Due Balance:</strong><br/>
              <h2 class="text-green mtn"><strong>$685.99</strong></h2>
            </address>
          </div>
        </div>
        <hr/>
        <h4 class="block-heading">Order summary</h4>
        <div class="table-responsive">
          <table class="table table-condensed">
            <thead>
              <tr>
                <td><strong>Item</strong></td>
                <td class="text-center"><strong>Price</strong></td>
                <td class="text-center"><strong>Quantity</strong></td>
                <td class="text-right"><strong>Totals</strong></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>BS-200</td>
                <td class="text-center">$10.99</td>
                <td class="text-center">1</td>
                <td class="text-right">$10.99</td>
              </tr>
              <tr>
                <td>BS-400</td>
                <td class="text-center">$20.00</td>
                <td class="text-center">3</td>
                <td class="text-right">$60.00</td>
              </tr>
              <tr>
                <td>BS-1000</td>
                <td class="text-center">$600.00</td>
                <td class="text-center">1</td>
                <td class="text-right">$600.00</td>
              </tr>
              <tr>
                <td class="thick-line"></td>
                <td class="thick-line"></td>
                <td class="thick-line text-center"><strong>Subtotal</strong></td>
                <td class="thick-line text-right">$670.99</td>
              </tr>
              <tr>
                <td class="no-line"></td>
                <td class="no-line"></td>
                <td class="no-line text-center"><strong>Shipping</strong></td>
                <td class="no-line text-right">$15</td>
              </tr>
              <tr>
                <td class="no-line"></td>
                <td class="no-line"></td>
                <td class="no-line text-center"><strong>Total</strong></td>
                <td class="no-line text-right">$685.99</td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr class="mbm"/>
        <p>Thank you for your business. Please remit the total amount due within 30 days.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <button type="submit" class="btn btn-success mrm"><i class="fa fa-print"></i>&nbsp;
      Print
    </button>
    <button type="button" class="btn btn-white"><i class="fa fa-edit"></i>&nbsp;
      Edit
    </button>
  </div>
</div>