
<div class="row">
  <div class="col-lg-12">
    <p><span class="label label-danger">NOTE:</span>&nbsp;
      This plugins works only on Latest Chrome, Firefox, Safari, Opera & Internet Explorer 10.
    </p>
    <form id="my-dropzone" action="http://www.torrentplease.com/dropzone.php" ng-dropzone="" class="dropzone"></form>
  </div>
</div>