
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">Login Form</div>
      <div class="panel-body pan">
        <form action="" class="form-horizontal">
          <div class="form-body pal">
            <div class="form-group">
              <label for="inputName" class="col-md-3 control-label">Name</label>
              <div class="col-md-9">
                <div class="input-icon right"><i class="fa fa-user"></i>
                  <input id="inputName" type="text" placeholder="" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-md-3 control-label">Password</label>
              <div class="col-md-9">
                <div class="input-icon right"><i class="fa fa-lock"></i>
                  <input id="inputPassword" type="text" placeholder="" class="form-control"/>
                </div><span class="help-block mbn"><a href="#"><small>Forgot password?</small></a></span>
              </div>
            </div>
            <div class="form-group mbn">
              <div class="col-md-offset-3 col-md-6">
                <div class="checkbox">
                  <label>
                    <input tabindex="5" type="checkbox"/>&nbsp;
                    Keep me logged in
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions pal">
            <div class="form-group mbn">
              <div class="col-md-offset-3 col-md-6"><a href="javascript:void(0);" class="btn btn-default">Register</a>&nbsp;&nbsp;
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-green">
      <div class="panel-heading">Contacts Form</div>
      <div class="panel-body pan">
        <form action="">
          <div class="form-body pal">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputName" class="control-label">Name</label>
                  <div class="input-icon right"><i class="fa fa-user"></i>
                    <input id="inputName" type="text" placeholder="" class="form-control"/>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputEmail" class="control-label">E-mail</label>
                  <div class="input-icon right"><i class="fa fa-envelope"></i>
                    <input id="inputEmail" type="text" placeholder="" class="form-control"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputSubject" class="control-label">Subject</label>
              <div class="input-icon right"><i class="fa fa-tag"></i>
                <input id="inputSubject" type="text" placeholder="" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label for="inputMessage" class="control-label">Message</label>
              <textarea rows="5" class="form-control"></textarea>
            </div>
            <div class="form-group mbn">
              <div class="checkbox">
                <label>
                  <input tabindex="5" type="checkbox"/>&nbsp;
                  Send a copy to my e-mail address
                </label>
              </div>
            </div>
          </div>
          <div class="form-actions text-right pal">
            <button type="submit" class="btn btn-primary">Send message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-grey">
      <div class="panel-heading">Checkout form</div>
      <div class="panel-body pan">
        <form action="">
          <div class="form-body pal">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-icon"><i class="fa fa-user"></i>
                    <input id="inputFirstName" type="text" placeholder="First Name" class="form-control"/>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-icon"><i class="fa fa-user"></i>
                    <input id="inputLastName" type="text" placeholder="Last Name" class="form-control"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-icon"><i class="fa fa-envelope"></i>
                    <input id="inputEmail" type="text" placeholder="E-mail" class="form-control"/>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-icon"><i class="fa fa-phone"></i>
                    <input id="inputPhone" type="text" placeholder="Phone" class="form-control"/>
                  </div>
                </div>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <select class="form-control">
                    <option>Country</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input id="inputCity" type="text" placeholder="City" class="form-control"/>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input id="inputPostCode" type="text" placeholder="Post code" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input id="inputAddress" type="text" placeholder="Address" class="form-control"/>
            </div>
            <div class="form-group">
              <textarea rows="8" placeholder="Additional info" class="form-control"></textarea>
            </div>
            <hr/>
            <div class="form-group">
              <div class="radio">
                <label class="radio-inline">
                  <input id="optionsVisa" type="radio" name="optionsRadios" value="Visa" checked="checked"/>&nbsp;
                  Visa
                </label>
                <label class="radio-inline">
                  <input id="optionsMasterCard" type="radio" name="optionsRadios" value="MasterCard"/>&nbsp;
                  MasterCard
                </label>
                <label class="radio-inline">
                  <input id="optionsPayPal" type="radio" name="optionsRadios" value="PayPal"/>&nbsp;
                  PayPal
                </label>
              </div><br/>
            </div>
            <div class="form-group">
              <input id="inputNameCard" type="text" placeholder="Name on card" class="form-control"/>
            </div>
            <div class="row">
              <div class="col-md-9">
                <div class="form-group">
                  <input id="inputCardNumber" type="text" placeholder="Card number" class="form-control"/>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <input id="inputCVV2" type="text" placeholder="CVV2" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group mbn">
                  <label class="pts">Expiration date</label>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <select class="form-control">
                    <option>Month</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group mbn">
                  <input id="inputYear" type="text" placeholder="Year" class="form-control"/>
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions text-right pal">
            <button type="submit" class="btn btn-primary">Continue</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-orange">
      <div class="panel-heading">Registration form</div>
      <div class="panel-body pan">
        <form action="">
          <div class="form-body pal">
            <div class="form-group">
              <div class="input-icon right"><i class="fa fa-user"></i>
                <input id="inputName" type="text" placeholder="Username" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <div class="input-icon right"><i class="fa fa-envelope"></i>
                <input id="inputEmail" type="text" placeholder="Email address" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <div class="input-icon right"><i class="fa fa-lock"></i>
                <input id="inputPassword" type="password" placeholder="Password" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <div class="input-icon right"><i class="fa fa-lock"></i>
                <input id="inputConfirmPassword" type="password" placeholder="Confirm Password" class="form-control"/>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input id="inputFirstName" type="text" placeholder="First Name" class="form-control"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input id="inputLastName" type="text" placeholder="Last Name" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <select class="form-control">
                <option>Gender</option>
                <option value="0">Male</option>
                <option value="1">Female</option>
                <option value="2">Other</option>
              </select>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input tabindex="5" type="checkbox"/>&nbsp;
                  I want to receive news and special offers
                </label>
              </div>
            </div>
            <div class="form-group mbn">
              <div class="checkbox">
                <label>
                  <input tabindex="5" type="checkbox"/>&nbsp;
                  I agree with the Terms and Conditions
                </label>
              </div>
            </div>
          </div>
          <div class="form-actions text-right pal">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-blue">
      <div class="panel-heading">Comment Form</div>
      <div class="panel-body pan">
        <form action="">
          <div class="form-body pal">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="inputName" class="control-label">Name</label>
                  <div class="input-icon right"><i class="fa fa-user"></i>
                    <input id="inputName" type="text" placeholder="" class="form-control"/>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="inputEmail" class="control-label">E-mail</label>
                  <div class="input-icon right"><i class="fa fa-envelope"></i>
                    <input id="inputeMail" type="text" placeholder="" class="form-control"/>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="inputWebsite" class="control-label">Website</label>
                  <div class="input-icon right"><i class="fa fa-globe"></i>
                    <input id="inputWebsite" type="text" placeholder="" class="form-control"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputMessage" class="control-label">Comment</label>
              <textarea rows="5" class="form-control"></textarea><small class="help-block">You may use these HTML tags and attributes: &#x3C;a href=&#x22;&#x22; title=&#x22;&#x22;&#x3E;, &#x3C;abbr title=&#x22;&#x22;&#x3E;, &#x3C;acronym title=&#x22;&#x22;&#x3E;, &#x3C;b&#x3E;, &#x3C;blockquote cite=&#x22;&#x22;&#x3E;, &#x3C;cite&#x3E;, &#x3C;code&#x3E;, &#x3C;del datetime=&#x22;&#x22;&#x3E;, &#x3C;em&#x3E;, &#x3C;i&#x3E;, &#x3C;q cite=&#x22;&#x22;&#x3E;, &#x3C;strike&#x3E;, &#x3C;strong&#x3E;.</small>
            </div>
            <div class="form-group mbn">
              <label for="inputSubject" class="control-label">Enter characters below</label>
              <div class="input-icon right"><i class="fa fa-font"></i>
                <input id="inputSubject" type="text" placeholder="" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="form-actions text-right pal">
            <button type="submit" class="btn btn-primary">Add comment</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-violet">
      <div class="panel-heading">Order services</div>
      <div class="panel-body pan">
        <form action="">
          <div class="form-body pal">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-icon right"><i class="fa fa-user"></i>
                    <input id="inputName" type="text" placeholder="Name" class="form-control"/>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-icon right"><i class="fa fa-briefcase"></i>
                    <input id="inputCompany" type="text" placeholder="Company" class="form-control"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-icon right"><i class="fa fa-envelope"></i>
                    <input id="inputEmail" type="text" placeholder="E-mail" class="form-control"/>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-icon right"><i class="fa fa-phone"></i>
                    <input id="inputPhone" type="text" placeholder="Phone" class="form-control"/>
                  </div>
                </div>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <select class="form-control">
                    <option>Interested in</option>
                    <option value="design">Design</option>
                    <option value="development">Development</option>
                    <option value="illustration">Illustration</option>
                    <option value="brading">Branding</option>
                    <option value="video">Video</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <select class="form-control">
                    <option>Budget</option>
                    <option value="0">Less than 5000$</option>
                    <option value="1">5000$ - 10000$</option>
                    <option value="2">10000$ - 20000$</option>
                    <option value="3">More than 20000$</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-icon right"><i class="fa fa-calendar"></i>
                    <input id="inputStartDate" type="text" placeholder="Expected start date" class="form-control"/>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-icon right"><i class="fa fa-calendar"></i>
                    <input id="inputFinishDate" type="text" placeholder="Expected finish date" class="form-control"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input id="inputIncludeFile" type="file" placeholder="Inlcude some file"/>
            </div>
            <div class="form-group mbn">
              <textarea rows="5" placeholder="Tell us about your project" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-actions text-right pal">
            <button type="submit" class="btn btn-primary">Send request</button>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-pink">
      <div class="panel-heading">Review form</div>
      <div class="panel-body pan">
        <form action="">
          <div class="form-body pal">
            <div class="form-group">
              <div class="input-icon right"><i class="fa fa-user"></i>
                <input id="inputName" type="text" placeholder="Your name" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <div class="input-icon right"><i class="fa fa-envelope"></i>
                <input id="inputEmail" type="text" placeholder="Your e-mail" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <textarea rows="5" placeholder="Text of the review" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <div class="rating">
                <label for="quality-5"><i class="fa fa-star"></i></label>
                <label for="quality-4"><i class="fa fa-star"></i></label>
                <label for="quality-3"><i class="fa fa-star"></i></label>
                <label for="quality-2"><i class="fa fa-star text-yellow"></i></label>
                <label for="quality-1"><i class="fa fa-star text-yellow"></i></label>Quality of the product
              </div>
            </div>
            <div class="form-group">
              <div class="rating">
                <label for="reliability-5"><i class="fa fa-star"></i></label>
                <label for="reliability-4"><i class="fa fa-star text-yellow"></i></label>
                <label for="reliability-3"><i class="fa fa-star text-yellow"></i></label>
                <label for="reliability-2"><i class="fa fa-star text-yellow"></i></label>
                <label for="reliability-1"><i class="fa fa-star text-yellow"></i></label>Reliability of the product
              </div>
            </div>
            <div class="form-group mbn">
              <div class="rating">
                <label for="overall-5"><i class="fa fa-star"></i></label>
                <label for="overall-4"><i class="fa fa-star"></i></label>
                <label for="overall-3"><i class="fa fa-star text-yellow"></i></label>
                <label for="overall-2"><i class="fa fa-star text-yellow"></i></label>
                <label for="overall-1"><i class="fa fa-star text-yellow"></i></label>Overall rating
              </div>
            </div>
          </div>
          <div class="form-actions text-right pal">
            <button type="submit" class="btn btn-primary">Submit a review</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6"></div>
</div>