
<div class="frontend-pages">
  <h3 class="header-option-page mbxl">Light Version</h3>
  <div class="row mbxxl">
    <div class="col-lg-3">
      <div class="hover-effect">
        <div class="img"><img src="http://swlabs.co/Assets/images/demo/index.png" alt="" class="img-responsive"/></div><a href="http://swlabs.co/madmin/code/frontend/one-page.html" target="_blank" class="info">
          <h3>Image Background</h3></a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="hover-effect">
        <div class="img"><img src="http://swlabs.co/Assets/images/demo/index_2.png" alt="" class="img-responsive"/></div><a href="http://swlabs.co/madmin/code/frontend/one-page_2.html" target="_blank" class="info">
          <h3>Slider Background</h3></a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="hover-effect">
        <div class="img"><img src="http://swlabs.co/Assets/images/demo/index_3.png" alt="" class="img-responsive"/></div><a href="http://swlabs.co/madmin/code/frontend/one-page_3.html" target="_blank" class="info">
          <h3>Solid Background</h3></a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="hover-effect">
        <div class="img"><img src="http://swlabs.co/Assets/images/demo/index_4.png" alt="" class="img-responsive"/></div><a href="http://swlabs.co/madmin/code/frontend/one-page_4.html" target="_blank" class="info">
          <h3>Video Background</h3></a>
      </div>
    </div>
  </div>
  <div class="row mbxxl">
    <div class="col-lg-3">
      <div class="hover-effect">
        <div class="img"><img src="http://swlabs.co/Assets/images/demo/index_animated.png" alt="" class="img-responsive"/></div><a href="http://swlabs.co/madmin/code/frontend/one-page_animated.html" target="_blank" class="info">
          <h3>Image Background <span class="label">Animation</span></h3></a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="hover-effect">
        <div class="img"><img src="http://swlabs.co/Assets/images/demo/index_2_animated.png" alt="" class="img-responsive"/></div><a href="http://swlabs.co/madmin/code/frontend/one-page_2_animated.html" target="_blank" class="info">
          <h3>Slider Background <span class="label">Animation</span></h3></a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="hover-effect">
        <div class="img"><img src="http://swlabs.co/Assets/images/demo/index_3_animated.png" alt="" class="img-responsive"/></div><a href="http://swlabs.co/madmin/code/frontend/one-page_3_animated.html" target="_blank" class="info">
          <h3>Solid Background <span class="label">Animation</span></h3></a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="hover-effect">
        <div class="img"><img src="http://swlabs.co/Assets/images/demo/index_4_animated.png" alt="" class="img-responsive"/></div><a href="http://swlabs.co/madmin/code/frontend/one-page_4_animated.html" target="_blank" class="info">
          <h3>Video Background <span class="label">Animation</span></h3></a>
      </div>
    </div>
  </div>
  <h3 class="header-option-page mbxl">Dark Version</h3>
  <div class="row mbxxl">
    <div class="col-lg-3">
      <div class="hover-effect">
        <div class="img"><img src="http://swlabs.co/Assets/images/demo/index_dark.png" alt="" class="img-responsive"/></div><a href="http://swlabs.co/madmin/code/frontend/one-page_dark.html" target="_blank" class="info">
          <h3>Image Background</h3></a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="hover-effect">
        <div class="img"><img src="http://swlabs.co/Assets/images/demo/index_2_dark.png" alt="" class="img-responsive"/></div><a href="http://swlabs.co/madmin/code/frontend/one-page_2_dark.html" target="_blank" class="info">
          <h3>Slider Background</h3></a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="hover-effect">
        <div class="img"><img src="http://swlabs.co/Assets/images/demo/index_3_dark.png" alt="" class="img-responsive"/></div><a href="http://swlabs.co/madmin/code/frontend/one-page_3_dark.html" target="_blank" class="info">
          <h3>Solid Background</h3></a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="hover-effect">
        <div class="img"><img src="http://swlabs.co/Assets/images/demo/index_4_dark.png" alt="" class="img-responsive"/></div><a href="http://swlabs.co/madmin/code/frontend/one-page_4_dark.html" target="_blank" class="info">
          <h3>Video Background</h3></a>
      </div>
    </div>
  </div>
  <div class="row mbxxl">
    <div class="col-lg-3">
      <div class="hover-effect">
        <div class="img"><img src="http://swlabs.co/Assets/images/demo/index_animated_dark.png" alt="" class="img-responsive"/></div><a href="http://swlabs.co/madmin/code/frontend/one-page_animated_dark.html" target="_blank" class="info">
          <h3>Image Background <span class="label">Animation</span></h3></a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="hover-effect">
        <div class="img"><img src="http://swlabs.co/Assets/images/demo/index_2_animated_dark.png" alt="" class="img-responsive"/></div><a href="http://swlabs.co/madmin/code/frontend/one-page_2_animated_dark.html" target="_blank" class="info">
          <h3>Slider Background <span class="label">Animation</span></h3></a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="hover-effect">
        <div class="img"><img src="http://swlabs.co/Assets/images/demo/index_3_animated_dark.png" alt="" class="img-responsive"/></div><a href="http://swlabs.co/madmin/code/frontend/one-page_3_animated_dark.html" target="_blank" class="info">
          <h3>Solid Background <span class="label">Animation</span></h3></a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="hover-effect">
        <div class="img"><img src="http://swlabs.co/Assets/images/demo/index_4_animated_dark.png" alt="" class="img-responsive"/></div><a href="http://swlabs.co/madmin/code/frontend/one-page_4_animated_dark.html" target="_blank" class="info">
          <h3>Video Background <span class="label">Animation</span></h3></a>
      </div>
    </div>
  </div>
</div>