
<div id="title-breadcrumb-page" class="row">
  <div class="col-lg-12">
    <div class="note note-success">
      <h4 class="box-heading">Live demo</h4>
      <p>Let hover on the option you like and click "Demo" button to see it works!</p>
    </div>
    <div class="page-title-breadcrumb option-demo">
      <ng-include src="'Assets/templates/states/_layout-title-breadcrumb/title-breadcrumb-inline-left.html'"></ng-include>
    </div>
    <div class="mbxxl"></div>
    <div class="page-title-breadcrumb option-demo">
      <ng-include src="'Assets/templates/states/_layout-title-breadcrumb/title-breadcrumb-inline-left-with-label.html'"></ng-include>
    </div>
    <div class="mbxxl"></div>
    <div class="page-title-breadcrumb option-demo">
      <ng-include src="'Assets/templates/states/_layout-title-breadcrumb/title-subtitle-breadcrumb-inline-left.html'"></ng-include>
    </div>
    <div class="mbxxl"></div>
    <div class="page-title-breadcrumb option-demo">
      <ng-include src="'Assets/templates/states/_layout-title-breadcrumb/title-breadcrumb-inline-right.html'"></ng-include>
    </div>
    <div class="mbxxl"></div>
    <div class="page-title-breadcrumb option-demo">
      <ng-include src="'Assets/templates/states/_layout-title-breadcrumb/title-subtitle-breadcrumb-inline-right.html'"></ng-include>
    </div>
    <div class="mbxxl"></div>
    <div class="page-title-breadcrumb option-demo">
      <ng-include src="'Assets/templates/states/_layout-title-breadcrumb/title-breadcrumb-inline-with-toolbar.html'"></ng-include>
    </div>
    <div class="mbxxl"></div>
    <div class="page-title-breadcrumb option-demo">
      <ng-include src="'Assets/templates/states/_layout-title-breadcrumb/title-subtitle-breadcrumb-left.html'"></ng-include>
    </div>
  </div>
</div>