
<div id="header-topbar-page" class="row">
  <div class="col-lg-12">
    <div class="note note-success">
      <h4 class="box-heading">Live demo</h4>
      <p>Let hover on the option you like and click "Demo" button to see it works!</p>
    </div>
    <div class="option-demo">
      <ng-include src="'Assets/templates/states/_layout-header-topbar/header-topbar-option1.html'" onload="layout_header_topbar_update();"></ng-include>
    </div>
    <div class="mbxxl"></div>
    <div class="option-demo">
      <ng-include src="'Assets/templates/states/_layout-header-topbar/header-topbar-option2.html'" onload="layout_header_topbar_update();"></ng-include>
    </div>
  </div>
</div>