
<div class="row">
  <div class="col-md-12">
    <ul role="tablist" ng-tab="" class="ul-edit nav nav-tabs">
      <li class="active"><a href="#non-responsive" role="tab" data-toggle="tab">Non-Responsive</a></li>
      <li><a href="#responsive" role="tab" data-toggle="tab">Full-Responsive</a></li>
      <li><a href="#one-column" role="tab" data-toggle="tab">One Column</a></li>
    </ul>
    <div class="tab-content tab-edit">
      <div id="non-responsive" class="tab-pane fade in active">
        <div class="row">
          <div class="col-lg-12">
            <div class="timeline-centered">
              <article class="timeline-entry">
                <div class="timeline-entry-inner">
                  <time datetime="2014-01-10T03:45" class="timeline-time"><span>12:45 AM</span><span>Today</span></time>
                  <div class="timeline-icon bg-violet"><i class="fa fa-exclamation"></i></div>
                  <div class="timeline-label">
                    <h2 class="timeline-title">New Project Launch</h2>
                    <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
                  </div>
                </div>
              </article>
              <article class="timeline-entry left-aligned">
                <div class="timeline-entry-inner">
                  <time datetime="2014-01-10T03:45" class="timeline-time"><span>9:15 AM</span><span>Today</span></time>
                  <div class="timeline-icon bg-green"><i class="fa fa-group"></i></div>
                  <div class="timeline-label bg-green">
                    <h2 class="timeline-title">Job Meeting</h2>
                    <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi..</p>
                  </div>
                </div>
              </article>
              <article class="timeline-entry">
                <div class="timeline-entry-inner">
                  <time datetime="2014-01-09T13:22" class="timeline-time"><span>8:20 PM</span><span>04/03/2013</span></time>
                  <div class="timeline-icon bg-orange"><i class="fa fa-paper-plane"></i></div>
                  <div class="timeline-label bg-orange">
                    <h2 class="timeline-title">Daily Feeds</h2>
                    <p><img src="http://lorempixel.com/75/75/nature/3/" alt="" class="timeline-img pull-left"/>Parsley amaranth tigernut silver beet maize fennel spinach. Ricebean black-eyed pea maize scallion green bean spinach cabbage jicama bell pepper carrot onion corn plantain garbanzo. Sierra leone bologi komatsuna celery peanut swiss chard silver beet squash dandelion maize chicory burdock tatsoi dulse radish wakame beetroot.</p>
                  </div>
                </div>
              </article>
              <article class="timeline-entry left-aligned">
                <div class="timeline-entry-inner">
                  <time datetime="2014-01-09T13:22" class="timeline-time"><span>6:45 PM</span><span>04/03/2013</span></time>
                  <div class="timeline-icon bg-pink"><i class="fa fa-map-marker"></i></div>
                  <div class="timeline-label bg-pink">
                    <h2 class="timeline-title">Promotion Day</h2>
                    <p><img src="http://lorempixel.com/75/75/nature/3/" alt="" class="timeline-img pull-right"/>Parsnip lotus root celery yarrow seakale tomato collard greens tigernut epazote ricebean melon tomatillo soybean chicory broccoli beet greens peanut salad. Lotus root burdock bell pepper chickweed shallot groundnut pea sprouts welsh onion wattle seed pea salsify turnip scallion peanut arugula bamboo shoot onion swiss chard</p>
                  </div>
                </div>
              </article>
              <article class="timeline-entry">
                <div class="timeline-entry-inner">
                  <time datetime="2014-01-10T03:45" class="timeline-time"><span>03:45 AM</span><span>04/03/2013</span></time>
                  <div class="timeline-icon bg-yellow"><i class="fa fa-camera"></i></div>
                  <div class="timeline-label"><img src="images/gallery/1.jpg" alt="" class="img-responsive img-rounded"/></div>
                </div>
              </article>
              <article class="timeline-entry begin">
                <div class="timeline-entry-inner">
                  <div style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);" class="timeline-icon"><i class="fa fa-plus"></i></div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
      <div id="responsive" class="tab-pane fade">
        <ul class="timeline">
          <li>
            <div class="timeline-badge primary"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel primary">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                <p></p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>11 hours ago via Twitter</small>
              </div>
              <div class="timeline-body">
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel warning">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                <p></p><small style="color: #DFDFDF" class="text-muted"><i class="glyphicon glyphicon-time"></i>05 hours ago via Facebook</small>
              </div>
              <div class="timeline-body">
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                <p><img src="http://placekitten.com/g/80/80" style="margin: 5px 10px; float:left"/></p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel danger">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                <p></p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>5 hours ago via Twitter</small>
              </div>
              <div class="timeline-body">
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
            <div class="timeline-panel info">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                <p></p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>11 hours ago via Twitter</small>
              </div>
              <div class="timeline-body">
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                <hr/>
                <div class="btn-group">
                  <button type="button" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle"><i class="glyphicon glyphicon-cog"></i><span class="caret"></span></button>
                  <ul role="menu" class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                <p></p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>11 hours ago via Twitter</small>
              </div>
              <div class="timeline-body">
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
            <div class="timeline-panel success">
              <div class="timeline-heading">
                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                <p></p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>11 hours ago via Twitter</small>
              </div>
              <div class="timeline-body">
                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div id="one-column" class="tab-pane fade">
        <div id="md9" class="message-item blue">
          <div class="message-inner">
            <div class="message-head clearfix">
              <div class="avatar pull-left"><a href="./index.php?qa=user&amp;qa_1=Oleg+Kolesnichenko"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg"/></a></div>
              <div class="user-detail">
                <h5 class="handle">John Doe</h5>
              </div>
              <div class="post-meta">
                <div class="asker-meta"><span class="qa-message-when"><span class="qa-message-when-data">Jan 21</span></span><span class="qa-message-who"><span class="qa-message-who-pad">by </span><span class="qa-message-who-data"></span><a href="./index.php?qa=user&amp;qa_1=Oleg+Kolesnichenko">Oleg Kolesnichenko</a></span></div>
              </div>
            </div>
            <div class="qa-message-content">Yo! Like this.</div>
          </div>
        </div>
        <div id="m8" class="message-item red">
          <div class="message-inner">
            <div class="message-head clearfix">
              <div class="avatar pull-left"><a href="./index.php?qa=user&amp;qa_1=amiya"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/alagoon/48.jpg"/></a></div>
              <div class="user-detail">
                <h5 class="handle">amiya</h5>
              </div>
              <div class="post-meta">
                <div class="asker-meta"><span class="qa-message-what"></span><span class="qa-message-when"><span class="qa-message-when-data">Nov 24, 2013</span></span><span class="qa-message-who"><span class="qa-message-who-pad">by </span><span class="qa-message-who-data"></span><a href="./index.php?qa=user&amp;qa_1=amiya">amiya</a></span></div>
              </div>
            </div>
            <div class="qa-message-content">Nice theme . Excellent one .</div>
          </div>
        </div>
        <div id="m7" class="message-item green">
          <div class="message-inner">
            <div class="message-head clearfix">
              <div class="avatar pull-left"><a href="./index.php?qa=user&amp;qa_1=russell"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/uxceo/128.jpg"/></a></div>
              <div class="user-detail">
                <h5 class="handle">russell</h5>
                <div class="post-meta">
                  <div class="asker-meta"><span class="qa-message-what"></span><span class="qa-message-when"><span class="qa-message-when-data">Oct 25, 2013</span></span><span class="qa-message-who"><span class="qa-message-who-pad">by </span><span class="qa-message-who-data"></span><a href="./index.php?qa=user&amp;qa_1=russell">russell</a></span></div>
                </div>
              </div>
            </div>
            <div class="qa-message-content">Nullam porta leo vitae ipsum feugiat viverra. In sed placerat mi. Nullam euismod, quam in euismod rhoncus, tellus velit posuere tortor, non cursus nunc velit et lacus.</div>
          </div>
        </div>
        <div id="m6" class="message-item orange">
          <div class="message-inner">
            <div class="message-head clearfix">
              <div class="avatar pull-left"><a href="./index.php?qa=user&amp;qa_1=juggornot"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg"/></a></div>
              <div class="user-detail">
                <h5 class="handle">juggornot</h5>
                <div class="post-meta">
                  <div class="asker-meta"><span class="qa-message-what"></span><span class="qa-message-when"><span class="qa-message-when-data">Oct 24, 2013</span></span><span class="qa-message-who"><span class="qa-message-who-pad">by </span><span class="qa-message-who-data"></span><a href="./index.php?qa=user&amp;qa_1=juggornot">juggornot</a></span></div>
                </div>
              </div>
            </div>
            <div class="qa-message-content">Integer vitae arcu vitae ligula Cras vestibulum suscipit odio ac dapibus. In hac habitasse platea dictumst. Cras pulvinar erat et nunc fringilla, quis molestie</div>
          </div>
        </div>
        <div id="m5" class="message-item pink">
          <div class="message-inner">
            <div class="message-head clearfix">
              <div class="avatar pull-left"><a href="./index.php?qa=user&amp;qa_1=one_eyed"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/loschinin/128.jpg"/></a></div>
              <div class="user-detail">
                <h5 class="handle">one_eyed</h5>
                <div class="post-meta">
                  <div class="asker-meta"><span class="qa-message-what"></span><span class="qa-message-when"><span class="qa-message-when-data">Oct 24, 2013</span></span><span class="qa-message-who"><span class="qa-message-who-pad">by </span><span class="qa-message-who-data"></span><a href="./index.php?qa=user&amp;qa_1=one_eyed">one_eyed</a></span></div>
                </div>
              </div>
            </div>
            <div class="qa-message-content">Nulla dui ante, pulvinar ac auctor vitae, sollicitudin et tortor. Cras vestibulum suscipit odio ac dapibus. In hac habitasse platea dictumst. Cras pulvinar erat et nunc fringilla, quis molestie diam pulvinar.</div>
          </div>
        </div>
        <div id="m4" class="message-item green">
          <div class="message-inner">
            <div class="message-head clearfix">
              <div class="avatar pull-left"><a href="./index.php?qa=user&amp;qa_1=muboy"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg"/></a></div>
              <div class="user-detail">
                <h5 class="handle">muboy</h5>
                <div class="post-meta">
                  <div class="asker-meta"><span class="qa-message-what"></span><span class="qa-message-when"><span class="qa-message-when-data">Oct 24, 2013</span></span><span class="qa-message-who"><span class="qa-message-who-pad">by </span><span class="qa-message-who-data"></span><a href="./index.php?qa=user&amp;qa_1=muboy">muboy</a></span></div>
                </div>
              </div>
            </div>
            <div class="qa-message-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum iaculis mi, non dapibus nulla eleifend sed. Etiam ac commodo leo.<br/>Donec non sem id tellus mattis convallis. Morbi dapibus nulla ac dui lacinia,</div>
          </div>
        </div>
        <div id="m3" class="message-item blue">
          <div class="message-inner">
            <div class="message-head clearfix">
              <div class="avatar pull-left"><a href="./index.php?qa=user&amp;qa_1=muboy"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/loschinin/128.jpg"/></a></div>
              <div class="user-detail">
                <h5 class="handle">muboy</h5>
                <div class="post-meta">
                  <div class="asker-meta"><span class="qa-message-what"></span><span class="qa-message-when"><span class="qa-message-when-data">Oct 24, 2013</span></span><span class="qa-message-who"><span class="qa-message-who-pad">by </span><span class="qa-message-who-data"></span><a href="./index.php?qa=user&amp;qa_1=muboy">muboy</a></span></div>
                </div>
              </div>
            </div>
            <div class="qa-message-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum iaculis mi, non dapibus nulla eleifend sed. Etiam ac commodo leo.<br/>Donec non sem id tellus mattis convallis. Morbi dapibus nulla ac dui lacinia,</div>
          </div>
        </div>
        <div id="m2" class="message-item orange">
          <div class="message-inner">
            <div class="message-head clearfix">
              <div class="avatar pull-left"><a href="./index.php?qa=user&amp;qa_1=muboy"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg"/></a></div>
              <div class="user-detail">
                <h5 class="handle">muboy</h5>
                <div class="post-meta">
                  <div class="asker-meta"><span class="qa-message-what"></span><span class="qa-message-when"><span class="qa-message-when-data">Oct 24, 2013</span></span><span class="qa-message-who"><span class="qa-message-who-pad">by </span><span class="qa-message-who-data"></span><a href="./index.php?qa=user&amp;qa_1=muboy">muboy</a></span></div>
                </div>
              </div>
            </div>
            <div class="qa-message-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum iaculis mi, non dapibus nulla eleifend sed. Etiam ac commodo leo.<br/>Donec non sem id tellus mattis convallis. Morbi dapibus nulla ac dui lacinia,</div>
          </div>
        </div>
        <div id="m1" class="message-item green">
          <div class="message-inner">
            <div class="message-head clearfix">
              <div class="avatar pull-left"><a href="./index.php?qa=user&amp;qa_1=muboy"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/loschinin/128.jpg"/></a></div>
              <div class="user-detail">
                <h5 class="handle">muboy</h5>
                <div class="post-meta">
                  <div class="asker-meta"><span class="qa-message-what"></span><span class="qa-message-when"><span class="qa-message-when-data">Oct 24, 2013</span></span><span class="qa-message-who"><span class="qa-message-who-pad">by </span><span class="qa-message-who-data"></span><a href="./index.php?qa=user&amp;qa_1=muboy">muboy</a></span></div>
                </div>
              </div>
            </div>
            <div class="qa-message-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum iaculis mi, non dapibus nulla eleifend sed. Etiam ac commodo leo.<br/>Donec non sem id tellus mattis convallis. Morbi dapibus nulla ac dui lacinia,</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>