
<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <div id="gmaps" style="height: 400px"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h3>Contact</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <hr/>
            <h4>Address</h4>
            <address><strong>Loop, Inc.</strong><br/>7275 Crescent Canyon St<br/><abbr title="Phone">P: &nbsp;</abbr>(573)-119-1911</address>
            <address class="mbxl"><strong>Email</strong><br/><a href="mailto:#">example@email.com</a></address>
            <ul class="social-icons list-unstyled list-inline">
              <li><a href="javascript:void(0);" data-hover="tooltip" data-original-title="facebook" class="facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="javascript:void(0);" data-hover="tooltip" data-original-title="github" class="github"><i class="fa fa-github"></i></a></li>
              <li><a href="javascript:void(0);" data-hover="tooltip" data-original-title="google Plus" class="googleplus"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="javascript:void(0);" data-hover="tooltip" data-original-title="linkedin" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="javascript:void(0);" data-hover="tooltip" data-original-title="rss" class="rss"><i class="fa fa-rss"></i></a></li>
              <li><a href="javascript:void(0);" data-hover="tooltip" data-original-title="skype" class="skype"><i class="fa fa-skype"></i></a></li>
              <li><a href="javascript:void(0);" data-hover="tooltip" data-original-title="twitter" class="twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="javascript:void(0);" data-hover="tooltip" data-original-title="youtube" class="youtube"><i class="fa fa-youtube"></i></a></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <h3>Feedback</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            <hr/>
            <form action="/#/page-contact">
              <div class="form-group">
                <div class="input-icon"><i class="fa fa-check"></i>
                  <input type="text" placeholder="Subject" class="form-control"/>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon"><i class="fa fa-user"></i>
                  <input type="text" placeholder="Name" class="form-control"/>
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon"><i class="fa fa-envelope"></i>
                  <input type="password" placeholder="Email" class="form-control"/>
                </div>
              </div>
              <div class="form-group">
                <textarea rows="3" placeholder="Content" class="form-control"></textarea>
              </div>
              <button type="button" class="btn btn-success">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>