
<div class="row">
  <div class="col-lg-12 blog-page">
    <div class="panel">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-8 blog-articles">
            <h3>Sed ut perspiciatis unde omnis iste natus</h3>
            <div class="blog-img"><img src="http://swlabs.co/madmin/code/Assets/images/blogs/blog_item1.jpg" alt="" class="img-responsive"/></div>
            <div class="row mbm">
              <div class="col-md-6">
                <ul class="list-inline blog-tags">
                  <li><i class="fa fa-tags fa-fw"></i><a href="javascript:void(0);" class="label label-default">Design</a><a href="javascript:void(0);" class="label label-default">Development</a><a href="javascript:void(0);" class="label label-default">Html</a></li>
                </ul>
              </div>
              <div class="col-md-6 text-right">
                <ul class="list-inline blog-date">
                  <li><i class="fa fa-calendar fa-fw"></i><a href="javascript:void(0);">May 10, 2013</a></li>
                  <li><i class="fa fa-comments fa-fw"></i><a href="javascript:void(0);">41 Comments</a></li>
                </ul>
              </div>
            </div>
            <div>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
              <p>Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Eserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpa</p>
            </div>
            <hr class="mtxl mbl"/>
            <h3>Comments</h3>
            <ul class="media-list">
              <li class="media"><a href="javascript:void(0);" class="pull-left"><img src="http://swlabs.co/madmin/code/Assets/images/blogs/1.jpg" style="width: 64px; height: 64px;" class="media-object"/></a>
                <div class="media-body">
                  <h4 class="media-heading">Media heading<span class="pull-right">5 hours ago / <a href='javascript:void(0);'>Reply</a></span></h4>
                  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                  <hr/>
                  <div class="media"><a href="javascript:void(0);" class="pull-left"><img src="http://swlabs.co/madmin/code/Assets/images/blogs/2.jpg" style="width: 64px; height: 64px;" class="media-object"/></a>
                    <div class="media-body">
                      <h4 class="media-heading">Nested media heading<span class="pull-right">8 hours ago / <a href='javascript:void(0);'>Reply</a></span></h4>
                      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                      <hr/>
                      <div class="media"><a href="javascript:void(0);" class="pull-left"><img src="http://swlabs.co/madmin/code/Assets/images/blogs/3.jpg" style="width: 64px; height: 64px;" class="media-object"/></a>
                        <div class="media-body">
                          <h4 class="media-heading">Nested media heading<span class="pull-right">2 days ago / <a href='javascript:void(0);'>Reply</a></span></h4>
                          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr/>
                  <div class="media"><a href="javascript:void(0);" class="pull-left"><img src="http://swlabs.co/madmin/code/Assets/images/blogs/4.jpg" style="width: 64px; height: 64px;" class="media-object"/></a>
                    <div class="media-body">
                      <h4 class="media-heading">Nested media heading<span class="pull-right">May 14,2013 / <a href='javascript:void(0);'>Reply</a></span></h4>
                      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <hr class="mtxl mbl"/>
            <h3>Leave a Comment</h3>
            <form action="/#/page-blog-item">
              <div class="form-group">
                <label class="control-label">Name <span class='text-red'>*</span></label>
                <input type="text" placeholder="Name" class="form-control"/>
              </div>
              <div class="form-group">
                <label class="control-label">Email <span class='text-red'>*</span></label>
                <input type="email" placeholder="Email address" class="form-control"/>
              </div>
              <div class="form-group">
                <label class="control-label">Message <span class='text-red'>*</span></label>
                <textarea placeholder="Enter message..." rows="5" class="form-control"></textarea>
              </div>
              <button type="button" class="btn btn-success">Post a comment</button>
            </form>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 blog-sidebar">
            <h3>Search</h3>
            <div class="blog-search">
              <div class="input-group">
                <input type="text" placeholder="Enter here..." class="form-control"/><span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button></span>
              </div>
            </div>
            <div class="mbl"></div>
            <h3>Tabs</h3>
            <div class="tabbable tabbable-custom">
              <ul ng-tab="" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab_1_1">Section 1</a></li>
                <li><a data-toggle="tab" href="#tab_1_2">Section 2</a></li>
              </ul>
              <div class="tab-content">
                <div id="tab_1_1" class="tab-pane active">
                  <p>I'm in Section 1.</p>
                  <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
                </div>
                <div id="tab_1_2" class="tab-pane">
                  <p>Howdy, I'm in Section 2.</p>
                  <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
                </div>
              </div>
            </div>
            <div class="mbl"></div>
            <h3>Flickr</h3>
            <ul class="list-inline blog-images">
              <li><a href="http://swlabs.co/madmin/code/Assets/images/blogs/1.jpg" data-lightbox="image-1" data-title="Image 1"><img src="http://swlabs.co/madmin/code/Assets/images/blogs/1.jpg" alt=""/></a></li>
              <li><a href="http://swlabs.co/madmin/code/Assets/images/blogs/2.jpg" data-lightbox="image-2" data-title="Image 2"><img src="http://swlabs.co/madmin/code/Assets/images/blogs/2.jpg" alt=""/></a></li>
              <li><a href="http://swlabs.co/madmin/code/Assets/images/blogs/3.jpg" data-lightbox="image-3" data-title="Image 3"><img src="http://swlabs.co/madmin/code/Assets/images/blogs/3.jpg" alt=""/></a></li>
              <li><a href="http://swlabs.co/madmin/code/Assets/images/blogs/4.jpg" data-lightbox="image-4" data-title="Image 4"><img src="http://swlabs.co/madmin/code/Assets/images/blogs/4.jpg" alt=""/></a></li>
              <li><a href="http://swlabs.co/madmin/code/Assets/images/blogs/5.jpg" data-lightbox="image-5" data-title="Image 5"><img src="http://swlabs.co/madmin/code/Assets/images/blogs/5.jpg" alt=""/></a></li>
              <li><a href="http://swlabs.co/madmin/code/Assets/images/blogs/6.jpg" data-lightbox="image-6" data-title="Image 6"><img src="http://swlabs.co/madmin/code/Assets/images/blogs/6.jpg" alt=""/></a></li>
              <li><a href="http://swlabs.co/madmin/code/Assets/images/blogs/7.jpg" data-lightbox="image-7" data-title="Image 7"><img src="http://swlabs.co/madmin/code/Assets/images/blogs/7.jpg" alt=""/></a></li>
              <li><a href="http://swlabs.co/madmin/code/Assets/images/blogs/8.jpg" data-lightbox="image-8" data-title="Image 8"><img src="http://swlabs.co/madmin/code/Assets/images/blogs/8.jpg" alt=""/></a></li>
              <li><a href="http://swlabs.co/madmin/code/Assets/images/blogs/9.jpg" data-lightbox="image-9" data-title="Image 9"><img src="http://swlabs.co/madmin/code/Assets/images/blogs/9.jpg" alt=""/></a></li>
              <li><a href="http://swlabs.co/madmin/code/Assets/images/blogs/10.jpg" data-lightbox="image-10" data-title="Image 10"><img src="http://swlabs.co/madmin/code/Assets/images/blogs/10.jpg" alt=""/></a></li>
              <li><a href="http://swlabs.co/madmin/code/Assets/images/blogs/11.jpg" data-lightbox="image-11" data-title="Image 11"><img src="http://swlabs.co/madmin/code/Assets/images/blogs/11.jpg" alt=""/></a></li>
              <li><a href="http://swlabs.co/madmin/code/Assets/images/blogs/12.jpg" data-lightbox="image-12" data-title="Image 12"><img src="http://swlabs.co/madmin/code/Assets/images/blogs/12.jpg" alt=""/></a></li>
            </ul>
            <div class="mbl"></div>
            <h3>Tags</h3>
            <ul class="list-inline sidebar-tags">
              <li><a href="javascript:void(0);" class="label label-default">Business</a></li>
              <li><a href="javascript:void(0);" class="label label-default">Music</a></li>
              <li><a href="javascript:void(0);" class="label label-default">Internet</a></li>
              <li><a href="javascript:void(0);" class="label label-default">Money</a></li>
              <li><a href="javascript:void(0);" class="label label-default">Google</a></li>
              <li><a href="javascript:void(0);" class="label label-default">TV Shows</a></li>
              <li><a href="javascript:void(0);" class="label label-default">Education</a></li>
              <li><a href="javascript:void(0);" class="label label-default">People</a></li>
              <li><a href="javascript:void(0);" class="label label-default">People</a></li>
              <li><a href="javascript:void(0);" class="label label-default">Math</a></li>
              <li><a href="javascript:void(0);" class="label label-default">Photos</a></li>
              <li><a href="javascript:void(0);" class="label label-default">Electronics</a></li>
              <li><a href="javascript:void(0);" class="label label-default">Apple</a></li>
              <li><a href="javascript:void(0);" class="label label-default">Canada</a></li>
            </ul>
            <div class="mbl"></div>
            <h3>Archives</h3>
            <ul class="list-unstyled">
              <li><a href="javascript:void(0);"><i class="fa fa-caret-right mrm"></i>March 2012</a></li>
              <li><a href="javascript:void(0);"><i class="fa fa-caret-right mrm"></i>September 2011</a></li>
              <li><a href="javascript:void(0);"><i class="fa fa-caret-right mrm"></i>July 2011</a></li>
              <li><a href="javascript:void(0);"><i class="fa fa-caret-right mrm"></i>June 2011</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>