
<div class="row">
  <div class="col-lg-12">
    <ul id="checkbox-radio-Tab" class="nav nav-tabs">
      <li class="active"><a href="#icheck-tab" data-toggle="tab">iCheck Plugin</a></li>
    </ul>
    <div id="checkbox-radio-Tab-Content" class="tab-content">
      <div id="icheck-tab" class="tab-pane fade in active">
        <ng-include src="'Assets/templates/states/_ui-checkbox-radio/ui-checkbox-radio-icheck-tab.html'" onload="updateCheckbox()"></ng-include>
      </div>
    </div>
  </div>
</div>