
<div class="row">
  <div ng-generaltab="" class="col-lg-12">
    <ul id="sliderTab" class="nav nav-tabs ul-edit">
      <li class="active"><a href="#ui-slider-tab" data-toggle="tab">jQuery UI Sliders</a></li>
      <li><a href="#noui-slider-tab" data-toggle="tab">NoUI Sliders</a></li>
      <li><a href="#ion-range-slider-tab" data-toggle="tab">Ion Range Sliders</a></li>
    </ul>
    <div id="sliderTabContent" class="tab-content pan">
      <div id="ui-slider-tab" class="tab-pane fade in active">
        <ng-include src="'Assets/templates/states/_ui-sliders/ui-sliders-ui-slider-tab.html'" onload="ui_slider_tab()"></ng-include>
      </div>
      <div id="noui-slider-tab" class="tab-pane fade">
        <ng-include src="'Assets/templates/states/_ui-sliders/ui-sliders-noui-slider-tab.html'" onload="noui_slider_tab()"></ng-include>
      </div>
      <div id="ion-range-slider-tab" class="tab-pane fade">
        <ng-include src="'Assets/templates/states/_ui-sliders/ui-sliders-ion-range-slider-tab.html'" onload="ion_range_slider_tab()"></ng-include>
      </div>
    </div>
  </div>
</div>