
<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="title" class="control-label">Title</label>
              <input id="title" type="text" value="Toastr Notifications" placeholder="Enter a title ..." class="form-control"/>
            </div>
            <div class="form-group">
              <label for="message" class="control-label">Message</label>
              <textarea id="message" rows="3" placeholder="Enter a message ..." class="form-control"></textarea>
            </div>
            <div class="form-group">
              <div class="checkbox mbm">
                <label for="closeButton">
                  <input id="closeButton" type="checkbox" value="checked" class="input-mini"/>&nbsp;
                  Close Button
                </label>
              </div>
              <div class="checkbox mbm">
                <label for="addBehaviorOnToastClick">
                  <input id="addBehaviorOnToastClick" type="checkbox" value="checked" class="input-mini"/>&nbsp;
                  Add behavior on toast click
                </label>
              </div>
              <div class="checkbox">
                <label for="debugInfo">
                  <input id="debugInfo" type="checkbox" value="checked" class="input-mini"/>&nbsp;
                  Debug
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div id="toastTypeGroup" class="form-group">
              <label style="display: block">Toast Type</label>
              <div style="clear: both" class="radio mbm">
                <label>
                  <input type="radio" name="toasts" value="success" checked=""/>&nbsp;
                  Success
                </label>
              </div>
              <div style="clear: both" class="radio mbm radio mbm">
                <label>
                  <input type="radio" name="toasts" value="info"/>&nbsp;
                  Info
                </label>
              </div>
              <div style="clear: both" class="radio mbm radio mbm">
                <label>
                  <input type="radio" name="toasts" value="warning"/>&nbsp;
                  Warning
                </label>
              </div>
              <div style="clear: both" class="radio mbm radio mbm">
                <label>
                  <input type="radio" name="toasts" value="error"/>&nbsp;
                  Error
                </label>
              </div>
            </div>
            <div id="positionGroup" class="form-group">
              <label style="display: block">Position</label>
              <div style="clear: both" class="radio mbm">
                <label>
                  <input type="radio" name="positions" value="toast-top-right" checked=""/>&nbsp;
                  Top Right
                </label>
              </div>
              <div style="clear: both" class="radio mbm">
                <label>
                  <input type="radio" name="positions" value="toast-bottom-right"/>&nbsp;
                  Bottom Right
                </label>
              </div>
              <div style="clear: both" class="radio mbm">
                <label>
                  <input type="radio" name="positions" value="toast-bottom-left"/>&nbsp;
                  Bottom Left
                </label>
              </div>
              <div style="clear: both" class="radio mbm">
                <label>
                  <input type="radio" name="positions" value="toast-top-left"/>&nbsp;
                  Top Left
                </label>
              </div>
              <div style="clear: both" class="radio mbm">
                <label>
                  <input type="radio" name="positions" value="toast-top-full-width"/>&nbsp;
                  Top Full Width
                </label>
              </div>
              <div style="clear: both" class="radio mbm">
                <label>
                  <input type="radio" name="positions" value="toast-bottom-full-width"/>&nbsp;
                  Bottom Full Width
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <div class="controls">
                <label for="showEasing" class="control-label">Show Easing</label>
                <input id="showEasing" type="text" placeholder="swing, linear" value="swing" class="form-control input-small"/><br/>
                <label for="hideEasing" class="control-label">Hide Easing</label>
                <input id="hideEasing" type="text" placeholder="swing, linear" value="linear" class="form-control input-small"/><br/>
                <label for="showMethod" class="control-label">Show Method</label>
                <input id="showMethod" type="text" placeholder="show, fadeIn, slideDown" value="fadeIn" class="form-control input-small"/><br/>
                <label for="hideMethod" class="control-label">Hide Method</label>
                <input id="hideMethod" type="text" placeholder="hide, fadeOut, slideUp" value="fadeOut" class="form-control input-small"/>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <div class="controls">
                <div class="controls">
                  <label for="showDuration" class="control-label">Show Duration</label>
                  <input id="showDuration" type="text" placeholder="ms" value="300" class="form-control input-small"/><br/>
                  <label for="hideDuration" class="control-label">Hide Duration</label>
                  <input id="hideDuration" type="text" placeholder="ms" value="1000" class="form-control input-small"/><br/>
                  <label for="timeOut" class="control-label">Time out</label>
                  <input id="timeOut" type="text" placeholder="ms" value="5000" class="form-control input-small"/><br/>
                  <label for="timeOut" class="control-label">Extended time out</label>
                  <input id="extendedTimeOut" type="text" placeholder="ms" value="1000" class="form-control input-small"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button id="showtoast" type="button" class="btn btn-primary">Show Toast</button>&nbsp;
            <button id="cleartoasts" type="button" class="btn btn-danger">Clear Toasts</button>&nbsp;
            <button id="clearlasttoast" type="button" class="btn btn-danger">Clear Last Toast</button>
          </div>
        </div>
        <div class="row mtxl">
          <div class="col-md-12">
            <pre id="toastrOptions"></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>