
<nav id="topbar" role="navigation" style="margin-bottom: 0; ; z-index: 0" data-step="3" data-intro="&lt;b&gt;Topbar&lt;/b&gt; has other styles with live demo. Go to &lt;b&gt;Layouts-&gt;Header&amp;Topbar&lt;/b&gt; and check it out." class="navbar navbar-default navbar-static-top">
  <div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a id="logo" href="javascript:void(0);" class="navbar-brand"><span class="fa fa-rocket"></span><span class="logo-text">µAdmin</span><span style="display: none" class="logo-text-icon">µ</span></a>
  </div>
  <div class="topbar-main"><a id="menu-toggle" href="javascript:void(0);" class="hidden-xs"><i class="fa fa-bars"></i></a>
    <ul class="nav navbar-nav">
      <li class="active"><a href="javascript:void(0);">Dashboard</a></li>
      <li><a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle">
          Layouts
          &nbsp;<i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu">
          <li><a href="/#/layout-left-sidebar">Left Sidebar</a></li>
          <li><a href="/#/layout-right-sidebar">Right Sidebar</a></li>
          <li><a href="/#/layout-left-sidebar-collasped">Left Sidebar Collasped</a></li>
          <li><a href="/#/layout-right-sidebar-collasped">Right Sidebar Collasped</a></li>
          <li class="dropdown-submenu"><a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle">More Options</a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0);">Second level link</a></li>
              <li class="dropdown-submenu"><a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle">More Options</a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:void(0);">Third level link</a></li>
                  <li><a href="javascript:void(0);">Third level link</a></li>
                  <li><a href="javascript:void(0);">Third level link</a></li>
                  <li><a href="javascript:void(0);">Third level link</a></li>
                  <li><a href="javascript:void(0);">Third level link</a></li>
                </ul>
              </li>
              <li><a href="javascript:void(0);">Second level link</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="mega-menu-dropdown"><a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle">
          UI Elements
          &nbsp;<i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu">
          <li>
            <div class="mega-menu-content">
              <div class="row">
                <ul class="col-md-4 mega-menu-submenu">
                  <li>
                    <h3>Neque porro quisquam</h3>
                  </li>
                  <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet</a></li>
                  <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Consectetur adipisicing elit</a></li>
                  <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Sed ut perspiciatis unde omnis</a></li>
                  <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>At vero eos et accusamus et iusto</a></li>
                  <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Nam libero tempore cum soluta</a></li>
                  <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Et harum quidem rerum facilis est</a></li>
                </ul>
                <ul class="col-md-4 mega-menu-submenu">
                  <li>
                    <h3>Neque porro quisquam</h3>
                  </li>
                  <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet</a></li>
                  <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Consectetur adipisicing elit</a></li>
                  <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Sed ut perspiciatis unde omnis</a></li>
                  <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>At vero eos et accusamus et iusto</a></li>
                  <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Nam libero tempore cum soluta</a></li>
                  <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Et harum quidem rerum facilis est</a></li>
                </ul>
                <ul class="col-md-4 mega-menu-submenu">
                  <li>
                    <h3>Neque porro quisquam</h3>
                  </li>
                  <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet</a></li>
                  <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Consectetur adipisicing elit</a></li>
                  <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Sed ut perspiciatis unde omnis</a></li>
                  <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>At vero eos et accusamus et iusto</a></li>
                  <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Nam libero tempore cum soluta</a></li>
                  <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Et harum quidem rerum facilis est</a></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li class="mega-menu-dropdown mega-menu-full"><a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle">
          Extras
          &nbsp;<i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu">
          <li>
            <div class="mega-menu-content">
              <div class="row">
                <div class="col-md-7">
                  <ul class="col-md-4 mega-menu-submenu">
                    <li>
                      <h3>Neque porro quisquam</h3>
                    </li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet</a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Consectetur adipisicing elit</a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Sed ut perspiciatis unde omnis</a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>At vero eos et accusamus et iusto</a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Nam libero tempore cum soluta</a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Et harum quidem rerum facilis est</a></li>
                  </ul>
                  <ul class="col-md-4 mega-menu-submenu">
                    <li>
                      <h3>Neque porro quisquam</h3>
                    </li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet</a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Consectetur adipisicing elit</a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Sed ut perspiciatis unde omnis</a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>At vero eos et accusamus et iusto</a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Nam libero tempore cum soluta</a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Et harum quidem rerum facilis est</a></li>
                  </ul>
                  <ul class="col-md-4 mega-menu-submenu">
                    <li>
                      <h3>Neque porro quisquam</h3>
                    </li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet</a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Consectetur adipisicing elit</a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Sed ut perspiciatis unde omnis</a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>At vero eos et accusamus et iusto</a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Nam libero tempore cum soluta</a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i>Et harum quidem rerum facilis est</a></li>
                  </ul>
                </div>
                <div class="col-md-5 document-demo">
                  <ul class="col-md-4 mega-menu-submenu">
                    <li><a href="javascript:void(0);"><i class="fa fa-info-circle"></i><span>Introduction</span></a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-download"></i><span>Installation</span></a></li>
                  </ul>
                  <ul class="col-md-4 mega-menu-submenu">
                    <li><a href="javascript:void(0);"><i class="fa fa-cog"></i><span>T3 Settings</span></a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-desktop"></i><span>Layout System</span></a></li>
                  </ul>
                  <ul class="col-md-4 mega-menu-submenu">
                    <li><a href="javascript:void(0);"><i class="fa fa-magic"></i><span>Customization</span></a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-question-circle"></i><span>FAQs</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar navbar-top-links pull-left mbn">
      <li class="dropdown"><a data-hover="dropdown" href="javascript:void(0);" class="dropdown-toggle"><i class="fa fa-bell fa-fw"></i><span class="badge badge-green">3</span></a>
        <ul class="dropdown-menu dropdown-alerts">
          <li>
            <p>You have 14 new notifications</p>
          </li>
          <li>
            <div class="dropdown-slimscroll">
              <ul>
                <li><a href="javascript:void(0);"><span class="label label-blue"><i class="fa fa-comment"></i></span>New Comment<span class="pull-right text-muted small">4 mins ago</span></a></li>
                <li><a href="javascript:void(0);"><span class="label label-violet"><i class="fa fa-twitter"></i></span>3 New Followers<span class="pull-right text-muted small">12 mins ago</span></a></li>
                <li><a href="javascript:void(0);"><span class="label label-pink"><i class="fa fa-envelope"></i></span>Message Sent<span class="pull-right text-muted small">15 mins ago</span></a></li>
                <li><a href="javascript:void(0);"><span class="label label-green"><i class="fa fa-tasks"></i></span>New Task<span class="pull-right text-muted small">18 mins ago</span></a></li>
                <li><a href="javascript:void(0);"><span class="label label-yellow"><i class="fa fa-upload"></i></span>Server Rebooted<span class="pull-right text-muted small">19 mins ago</span></a></li>
                <li><a href="javascript:void(0);"><span class="label label-green"><i class="fa fa-tasks"></i></span>New Task<span class="pull-right text-muted small">2 days ago</span></a></li>
                <li><a href="javascript:void(0);"><span class="label label-pink"><i class="fa fa-envelope"></i></span>Message Sent<span class="pull-right text-muted small">5 days ago</span></a></li>
              </ul>
            </div>
          </li>
          <li class="last"><a href="javascript:void(0);" class="text-right">See all alerts</a></li>
        </ul>
      </li>
      <li class="dropdown"><a data-hover="dropdown" href="javascript:void(0);" class="dropdown-toggle"><i class="fa fa-envelope fa-fw"></i><span class="badge badge-orange">7</span></a>
        <ul class="dropdown-menu dropdown-messages">
          <li>
            <p>You have 14 new messages</p>
          </li>
          <li>
            <div class="dropdown-slimscroll">
              <ul>
                <li><a href="javascript:void(0);"><span class="avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg" alt="" class="img-responsive img-circle"/></span><span class="info"><span class="name">Jessica Spencer</span><span class="desc">Lorem ipsum dolor sit amet...</span></span></a></li>
                <li><a href="javascript:void(0);"><span class="avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg" alt="" class="img-responsive img-circle"/></span><span class="info"><span class="name">John Smith<span class="label label-blue pull-right">New</span></span><span class="desc">Lorem ipsum dolor sit amet...</span></span></a></li>
                <li><a href="javascript:void(0);"><span class="avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg" alt="" class="img-responsive img-circle"/></span><span class="info"><span class="name">John Doe<span class="label label-orange pull-right">10 min</span></span><span class="desc">Lorem ipsum dolor sit amet...</span></span></a></li>
                <li><a href="javascript:void(0);"><span class="avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg" alt="" class="img-responsive img-circle"/></span><span class="info"><span class="name">John Smith</span><span class="desc">Lorem ipsum dolor sit amet...</span></span></a></li>
                <li><a href="javascript:void(0);"><span class="avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg" alt="" class="img-responsive img-circle"/></span><span class="info"><span class="name">John Smith</span><span class="desc">Lorem ipsum dolor sit amet...</span></span></a></li>
              </ul>
            </div>
          </li>
          <li class="last"><a href="javascript:void(0);">Read all messages</a></li>
        </ul>
      </li>
      <li class="dropdown"><a data-hover="dropdown" href="javascript:void(0);" class="dropdown-toggle"><i class="fa fa-tasks fa-fw"></i><span class="badge badge-yellow">8</span></a>
        <ul class="dropdown-menu dropdown-tasks">
          <li>
            <p>You have 14 pending tasks</p>
          </li>
          <li>
            <div class="dropdown-slimscroll">
              <ul>
                <li><a href="javascript:void(0);"><span class="task-item">Fix the HTML code<small class="pull-right text-muted">40%</small></span>
                    <div class="progress progress-sm">
                      <div role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;" class="progress-bar progress-bar-orange"><span class="sr-only">40% Complete (success)</span></div>
                    </div></a></li>
                <li><a href="javascript:void(0);"><span class="task-item">Make a wordpress theme<small class="pull-right text-muted">60%</small></span>
                    <div class="progress progress-sm">
                      <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;" class="progress-bar progress-bar-blue"><span class="sr-only">60% Complete (success)</span></div>
                    </div></a></li>
                <li><a href="javascript:void(0);"><span class="task-item">Convert PSD to HTML<small class="pull-right text-muted">55%</small></span>
                    <div class="progress progress-sm">
                      <div role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;" class="progress-bar progress-bar-green"><span class="sr-only">55% Complete (success)</span></div>
                    </div></a></li>
                <li><a href="javascript:void(0);"><span class="task-item">Convert HTML to Wordpress<small class="pull-right text-muted">78%</small></span>
                    <div class="progress progress-sm">
                      <div role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%;" class="progress-bar progress-bar-yellow"><span class="sr-only">78% Complete (success)</span></div>
                    </div></a></li>
              </ul>
            </div>
          </li>
          <li class="last"><a href="javascript:void(0);">See all tasks</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar navbar-top-links navbar-right mbn">
      <li class="dropdown topbar-user"><a data-hover="dropdown" href="javascript:void(0);" class="dropdown-toggle"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg" alt="" class="img-responsive img-circle"/>&nbsp;<span>John Doe</span>&nbsp;<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-user pull-right">
          <li><a href="/#/extra-profile"><i class="fa fa-user"></i>My Profile</a></li>
          <li><a href="/#/page-calendar"><i class="fa fa-calendar"></i>My Calendar</a></li>
          <li><a href="/#/email-inbox"><i class="fa fa-envelope"></i>My Inbox<span class="badge badge-danger">3</span></a></li>
          <li><a href="javascript:void(0);"><i class="fa fa-tasks"></i>My Tasks<span class="badge badge-success">7</span></a></li>
          <li class="divider"></li>
          <li><a href="/#/extra-lock-screen"><i class="fa fa-lock"></i>Lock Screen</a></li>
          <li><a href="/#/extra-signin"><i class="fa fa-key"></i>Log Out</a></li>
        </ul>
      </li>
      <li id="topbar-chat" class="hidden-xs"><a href="javascript:void(0)" class="btn-chat"><i class="fa fa-comments"></i><span class="badge badge-info">3</span></a></li>
    </ul>
  </div>
  <!--BEGIN MODAL CONFIG PORTLET-->
  <div id="modal-config" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend et nisl eget porta. Curabitur elementum sem molestie nisl varius, eget tempus odio molestie. Nunc vehicula sem arcu, eu pulvinar neque cursus ac. Aliquam ultricies lobortis magna et aliquam. Vestibulum egestas eu urna sed ultricies. Nullam pulvinar dolor vitae quam dictum condimentum. Integer a sodales elit, eu pulvinar leo. Nunc nec aliquam nisi, a mollis neque. Ut vel felis quis tellus hendrerit placerat. Vivamus vel nisl non magna feugiat dignissim sed ut nibh. Nulla elementum, est a pretium hendrerit, arcu risus luctus augue, mattis aliquet orci ligula eget massa. Sed ut ultricies felis.</p>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!--END MODAL CONFIG PORTLET
  -->
</nav>