
<div class="row">
  <div class="col-lg-4">
    <h3>Input Group</h3>
    <div class="input-group"><span class="input-group-addon">@</span>
      <input type="text" placeholder="Username" class="form-control"/>
    </div>
    <div class="mbl"></div>
    <div class="input-group">
      <input type="text" class="form-control"/><span class="input-group-addon">.00</span>
    </div>
    <div class="mbl"></div>
    <div class="input-group"><span class="input-group-addon">$</span>
      <input type="text" class="form-control"/><span class="input-group-addon">.00</span>
    </div>
  </div>
  <div class="col-lg-4">
    <h3>Size</h3>
    <div class="input-group input-group-lg"><span class="input-group-addon">@</span>
      <input type="text" placeholder="Username" class="form-control"/>
    </div>
    <div class="mbl"></div>
    <div class="input-group"><span class="input-group-addon">@</span>
      <input type="text" placeholder="Username" class="form-control"/>
    </div>
    <div class="mbl"></div>
    <div class="input-group input-group-sm"><span class="input-group-addon">@</span>
      <input type="text" placeholder="Username" class="form-control"/>
    </div>
  </div>
  <div class="col-lg-4">
    <h3>Checkboxes & Radio Addons</h3>
    <div class="input-group"><span class="input-group-addon">
        <input type="checkbox"/></span>
      <input type="text" class="form-control"/>
    </div>
    <div class="mbl"></div>
    <div class="input-group"><span class="input-group-addon">
        <input type="radio"/></span>
      <input type="text" class="form-control"/>
    </div>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-lg-6">
    <h3>Buttons with dropdowns</h3>
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
              Action
              &nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
          <input type="text" class="form-control"/>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control"/>
          <div class="input-group-btn">
            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
              Action
              &nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mbxl"></div>
    <h3>Segmented Buttons</h3>
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" tabindex="-1" class="btn btn-default">Action</button>
            <button type="button" data-toggle="dropdown" tabindex="-1" class="btn btn-default dropdown-toggle"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
            <ul role="menu" class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
          <input type="text" class="form-control"/>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control"/>
          <div class="input-group-btn">
            <button type="button" tabindex="-1" class="btn btn-default">Action</button>
            <button type="button" data-toggle="dropdown" tabindex="-1" class="btn btn-default dropdown-toggle"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
            <ul role="menu" class="dropdown-menu pull-right">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <h3>Button Addons On Both Sides</h3>
    <div class="input-group"><span class="input-group-btn">
        <button type="button" class="btn btn-default">Go!</button></span>
      <input type="text" class="form-control"/><span class="input-group-btn">
        <button type="button" class="btn btn-default">Go!</button></span>
    </div>
    <div class="mbxl"></div>
    <h3>Buttons With Dropdowns On Both Sides</h3>
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <input type="text" class="form-control"/>
      <div class="input-group-btn">
        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>