
<div class="row">
  <div class="col-lg-6">
    <h3>Basic</h3>
    <div class="alert alert-success"><strong>Well done!</strong> You successfully read this important alert message.
    </div>
    <div class="alert alert-info"><strong>Heads up!</strong> This alert needs your attention, but it's not super important.
    </div>
    <div class="alert alert-warning"><strong>Warning!</strong> Best check yo self, you're not looking too good.
    </div>
    <div class="alert alert-danger"><strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>
    <div class="mbxl"></div>
    <h3>Dismissable alerts</h3>
    <div class="alert alert-warning alert-dismissable">
      <button type="button" data-dismiss="alert" aria-hidden="true" class="close">&times;</button><strong>Warning!</strong> Best check yo self, you're not looking too good.
    </div>
  </div>
  <div class="col-lg-6">
    <h3>Links In Alerts</h3>
    <div class="alert alert-success"><strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
    </div>
    <div class="alert alert-info"><strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a> , but it's not super important.
    </div>
    <div class="alert alert-warning"><strong>Warning!</strong> Best check yo self, you're <a href="#" class="alert-link">not looking too good</a>.
    </div>
    <div class="alert alert-danger"><strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
    </div>
  </div>
</div>