
<div class="row">
  <div class="col-lg-6">
    <h3 class="mtn">Small Table</h3>
    <table class="table table-hover table-bordered table-advanced table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Age</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Henry</td>
          <td>23</td>
          <td><span class="label label-sm label-success">Approved</span></td>
        </tr>
        <tr>
          <td>2</td>
          <td>John</td>
          <td>45</td>
          <td><span class="label label-sm label-info">Pending</span></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>30</td>
          <td><span class="label label-sm label-warning">Suspended</span></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Lahm</td>
          <td>15</td>
          <td><span class="label label-sm label-danger">Blocked</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6">
    <h3 class="mtn">Normal Table</h3>
    <table class="table table-hover table-bordered table-advanced">
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Age</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Henry</td>
          <td>23</td>
          <td><span class="label label-sm label-success">Approved</span></td>
        </tr>
        <tr>
          <td>2</td>
          <td>John</td>
          <td>45</td>
          <td><span class="label label-sm label-info">Pending</span></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>30</td>
          <td><span class="label label-sm label-warning">Suspended</span></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Lahm</td>
          <td>15</td>
          <td><span class="label label-sm label-danger">Blocked</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <h3>Large Table</h3>
    <table class="table table-hover table-bordered table-advanced table-lg">
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Age</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Henry</td>
          <td>23</td>
          <td><span class="label label-sm label-success">Approved</span></td>
        </tr>
        <tr>
          <td>2</td>
          <td>John</td>
          <td>45</td>
          <td><span class="label label-sm label-info">Pending</span></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>30</td>
          <td><span class="label label-sm label-warning">Suspended</span></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Lahm</td>
          <td>15</td>
          <td><span class="label label-sm label-danger">Blocked</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>