
<div class="header-quick-sidebar">
  <ul class="nav nav-tabs nav-justified ul-edit">
    <li class="active dropdown"><a id="tab-quick-sidebar" href="#" data-toggle="dropdown" class="dropdown-toggle">
        Change logs
        &nbsp;<i class="fa fa-angle-down"></i></a>
      <ul role="menu" aria-labelledby="tab-quick-sidebar" ng-tab="" class="dropdown-menu">
        <li><a href="#tab-version-1-1" tabindex="-1" data-toggle="tab">Version 1.1</a></li>
        <li><a href="#tab-version-1-2" tabindex="-1" data-toggle="tab">Version 1.2</a></li>
        <li><a href="#tab-version-2-0" tabindex="-1" data-toggle="tab">Version 2.0</a></li>
        <li><a href="#tab-version-2-1" tabindex="-1" data-toggle="tab">Version 2.1</a></li>
        <li class="active"><a href="#tab-version-3-0" tabindex="-1" data-toggle="tab">Version 3.0</a></li>
      </ul>
    </li>
    <li><a href="#tab-hot-features" data-toggle="tab">Hot features</a></li>
  </ul>
  <div class="content-quick-sidebar tab-content">
    <div id="tab-version-1-1" class="tab-pane fade">
      <h4>Version 1.1 - 04 July 2014</h4>
      <ul class="list-update list-unstyled">
        <li><span class='label label-success'>N</span>
          <div>Add new: Bordered style</div>
        </li>
        <li><span class='label label-success'>N</span>
          <div>Add New: Data Grids menu using jPList plugin
            <ul class="sub-list-update">
              <li>Layout Examples
                <ul class="sub-list-update">
                  <li>DIVs Layout</li>
                  <li>Table Demo1</li>
                  <li>Table Demo2</li>
                  <li>2 Tables on the Page</li>
                  <li>UL/LI</li>
                </ul>
              </li>
              <li>Actions Examples
                <ul class="sub-list-update">
                  <li>Filters With UL/LI</li>
                  <li>Filters With SELECT</li>
                  <li>Double Sort</li>
                  <li>Deep Linking</li>
                  <li>Pagination Only</li>
                  <li>Without "Items per Page"</li>
                  <li>Hidden Sort</li>
                </ul>
              </li>
              <li>jPList with jQuery UI
                <ul class="sub-list-update">
                  <li>Ranger Slider</li>
                  <li>Date Picker Filter</li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        <li><span class='label label-success'>N</span>
          <div>Add New: 2 options in timeline page
            <ul class="sub-list-update">
              <li>One column</li>
              <li>Full Responsive</li>
            </ul>
          </div>
        </li>
        <li><span class='label label-info'>U</span>
          <div>Upgrade: chat form in sidebar and dashboard page</div>
        </li>
        <li><span class='label label-info'>U</span>
          <div>Upgrade: checkall in datatable</div>
        </li>
        <li><span class='label label-danger'>B</span>
          <div>Fix: Minor bug</div>
        </li>
      </ul>
    </div>
    <div id="tab-version-1-2" class="tab-pane fade">
      <h4>Version 1.2 - 08 July 2014</h4>
      <ul class="list-update list-unstyled">
        <li><span class='label label-success'>N</span>
          <div>Add New: 2 new style navigation
            <ul class="sub-list-update">
              <li>Menu with big icon & flat design</li>
              <li>Menu with color transition</li>
            </ul>
          </div>
        </li>
        <li><span class='label label-success'>N</span>
          <div>Add New: jQuery introjs. Introduce tips about this template</div>
        </li>
        <li><span class='label label-success'>N</span>
          <div>Add New: Set up responsive tabs for pages
            <ul class="sub-list-update">
              <li>Redesign for tab direction</li>
              <li>Mobile & Tablet version for tabs accordion</li>
            </ul>
          </div>
        </li>
        <li><span class='label label-info'>U</span>
          <div>Upgrade: Improve jquery cookie
            <ul class="sub-list-update">
              <li>User can make best theme by mix the style and color</li>
              <li>Remember user's favourite theme and apply it to all pages</li>
            </ul>
          </div>
        </li>
        <li><span class='label label-info'>U</span>
          <div>Upgrade: Apply styles(Squared, Rounded, Bordered) for all pages in Datagrid menu</div>
        </li>
        <li><span class='label label-info'>U</span>
          <div>Upgrade: Reconstruct menu on layout-horizontal-menu page</div>
        </li>
        <li><span class='label label-danger'>B</span>
          <div>Fix: bug on layout-header-topbar page</div>
        </li>
        <li><span class='label label-danger'>B</span>
          <div>Fix: Set up Animation page run on Firefox browser</div>
        </li>
      </ul>
    </div>
    <div id="tab-version-2-0" class="tab-pane fade">
      <h4>Version 2.0 - 18 July 2014</h4>
      <ul class="list-update list-unstyled">
        <li><span class='label label-success'>N</span>
          <div>Add New: Update Bootstrap 3.2</div>
        </li>
        <li><span class='label label-success'>N</span>
          <div>Add New: DataTalbes
            <ul class="sub-list-update">
              <li>Using own table template</li>
              <li>Filter feature</li>
              <li>Sorter</li>
              <li>Search</li>
              <li>Paging</li>
              <li>Edit and Export features are coming soon.</li>
            </ul>
          </div>
        </li>
        <li><span class='label label-success'>N</span>
          <div>Add New: Fixed menu featured</div>
        </li>
        <li><span class='label label-success'>N</span>
          <div>Add New: Introduction part for some pages</div>
        </li>
        <li><span class='label label-info'>U</span>
          <div>Upgrade: New effect on search form</div>
        </li>
        <li><span class='label label-info'>U</span>
          <div>Upgrade: Badge on collapsed menu</div>
        </li>
        <li><span class='label label-danger'>B</span>
          <div>Fix: Topbar welcome section on Firefox</div>
        </li>
        <li><span class='label label-danger'>B</span>
          <div>Fix: Footer animation page on Firefox</div>
        </li>
      </ul>
    </div>
    <div id="tab-version-2-1" class="tab-pane fade">
      <h4>Version 2.1 - 23 July 2014</h4>
      <ul class="list-update list-unstyled">
        <li><span class='label label-success'>N</span>
          <div>Add New: Jeditable</div>
        </li>
        <li><span class='label label-success'>N</span>
          <div>Add New: Table Export
            <ul class="sub-list-update">
              <li>Type of file support: JSON, XML, SQL, CSV, TXT, Word, Excel, Powerpoint and PDF</li>
            </ul>
          </div>
        </li>
        <li><span class='label label-success'>N</span>
          <div>Add New: User List Page in Extras menu</div>
        </li>
        <li><span class='label label-success'>N</span>
          <div>Add New: Dropdown Select in UI-Element</div>
        </li>
        <li><span class='label label-success'>N</span>
          <div>Add New: Advanced News Ticker</div>
        </li>
        <li><span class='label label-info'>U</span>
          <div>Upgrade: Sco.message in UI-Element menu</div>
        </li>
        <li><span class='label label-info'>U</span>
          <div>Upgrade: Export Tool in Datatables</div>
        </li>
        <li><span class='label label-info'>U</span>
          <div>Upgrade: search form style and theme setting style</div>
        </li>
        <li><span class='label label-danger'>B</span>
          <div>Fix: iCheck in Datatables page</div>
        </li>
      </ul>
    </div>
    <div id="tab-version-3-0" class="tab-pane fade in active">
      <h4>Version 3.0 - 28 July 2014</h4>
      <ul class="list-update list-unstyled">
        <li><span class='label label-success'>N</span>
          <div>Add New: User List Page in Extras menu</div>
        </li>
        <li><span class='label label-success'>N</span>
          <div>Add New: Dropdown Select in UI-Element</div>
        </li>
        <li><span class='label label-success'>N</span>
          <div>Add New: Advanced News Ticker</div>
        </li>
        <li><span class='label label-info'>U</span>
          <div>Upgrade: Sco.message in UI-Element menu</div>
        </li>
        <li><span class='label label-info'>U</span>
          <div>Upgrade: Export Tool in Datatables</div>
        </li>
        <li><span class='label label-info'>U</span>
          <div>Upgrade: search form style and theme setting style</div>
        </li>
        <li><span class='label label-danger'>B</span>
          <div>Fix: iCheck in Datatables page</div>
        </li>
      </ul>
    </div>
    <div id="tab-hot-features" class="tab-pane fade">
      <ul class="list-update list-unstyled">
        <li>
          +
          &nbsp;
          3 Admin Themes Included (+more)
        </li>
        <li>
          +
          &nbsp;
          5 Menu Styles Included (+more)
        </li>
        <li>
          +
          &nbsp;
          4 Header Styles Included (+more)
        </li>
        <li>
          +
          &nbsp;
          Unlimited Layout Options
        </li>
        <li>
          +
          &nbsp;
          Bootstrap 3.2
        </li>
        <li>
          +
          &nbsp;
          Full LESS Support
        </li>
        <li>
          +
          &nbsp;
          100+ Template Pages
        </li>
        <li>
          +
          &nbsp;
          500+ UI Components
        </li>
        <li>
          +
          &nbsp;
          Update New Features Weekly
        </li>
      </ul>
    </div>
  </div>
</div>