
<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-white">
      <div class="panel-heading">Horizontal</div>
      <div class="panel-body">
        <h3>Basic progressbar</h3>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="75" class="progress-bar"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Themed progressbars</h3>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Striped progressbars</h3>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Animated progressbars</h3>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Custom aria range</h3>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="2" aria-valuemin="1" aria-valuemax="6" class="progress-bar"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="40" aria-valuemin="-40" aria-valuemax="200" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="60" aria-valuemax="120" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="80" aria-valuemin="30" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>custom animations</h3>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger six-sec-ease-in-out"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Custom Size</h3>
        <div class="progress progress-xs">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-sm">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-lg">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
      </div>
    </div>
    <div class="panel panel-white">
      <div class="panel-heading">Center text</div>
      <div id="center-text" class="panel-body">
        <h3>Basic progressbar</h3>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="75" class="progress-bar"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Themed progressbars</h3>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Striped progressbars</h3>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Animated progressbars</h3>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Custom aria range</h3>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="2" aria-valuemin="1" aria-valuemax="6" class="progress-bar"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="40" aria-valuemin="-40" aria-valuemax="200" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="60" aria-valuemax="120" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="80" aria-valuemin="30" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>custom animations</h3>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger six-sec-ease-in-out"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-white">
      <div class="panel-heading">Filled text</div>
      <div id="filled-text" class="panel-body">
        <h3>Basic progressbar</h3>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="75" class="progress-bar"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Themed progressbars</h3>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Striped progressbars</h3>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Animated progressbars</h3>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Custom aria range</h3>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="2" aria-valuemin="1" aria-valuemax="6" class="progress-bar"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="40" aria-valuemin="-40" aria-valuemax="200" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="60" aria-valuemax="120" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="80" aria-valuemin="30" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>custom animations</h3>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger six-sec-ease-in-out"></div>
        </div>
      </div>
    </div>
    <div class="panel panel-white">
      <div class="panel-heading">Filled text (nonpercentage)</div>
      <div id="filled-text-nonpercentage" class="panel-body">
        <h3>Basic progressbar</h3>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="75" class="progress-bar"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Themed progressbars</h3>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Striped progressbars</h3>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Animated progressbars</h3>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Custom aria range</h3>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="2" aria-valuemin="1" aria-valuemax="6" class="progress-bar"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="40" aria-valuemin="-40" aria-valuemax="200" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="60" aria-valuemax="120" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="80" aria-valuemin="30" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>custom animations</h3>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger six-sec-ease-in-out"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-white">
      <div class="panel-heading">Horizontal (Right)</div>
      <div class="panel-body">
        <h3>Basic progressbar</h3>
        <div class="progress right">
          <div role="progressbar" aria-valuetransitiongoal="75" class="progress-bar"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Themed progressbars</h3>
        <div class="progress right">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress right">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress right">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress right">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Striped progressbars</h3>
        <div class="progress progress-striped right">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped right">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped right">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped right">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped right">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Animated progressbars</h3>
        <div class="progress progress-striped active right">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped active right">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped active right">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped active right">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped active right">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Custom aria range</h3>
        <div class="progress right">
          <div role="progressbar" aria-valuetransitiongoal="2" aria-valuemin="1" aria-valuemax="6" class="progress-bar"></div>
        </div>
        <div class="progress right">
          <div role="progressbar" aria-valuetransitiongoal="40" aria-valuemin="-40" aria-valuemax="200" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress right">
          <div role="progressbar" aria-valuetransitiongoal="60" aria-valuemax="120" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress right">
          <div role="progressbar" aria-valuetransitiongoal="80" aria-valuemin="30" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress right">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>custom animations</h3>
        <div class="progress right">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar six-sec-ease-in-out"></div>
        </div>
        <div class="progress right">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info six-sec-ease-in-out"></div>
        </div>
        <div class="progress right">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success six-sec-ease-in-out"></div>
        </div>
        <div class="progress right">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning six-sec-ease-in-out"></div>
        </div>
        <div class="progress right">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger six-sec-ease-in-out"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Custom Size</h3>
        <div class="progress progress-xs right">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-sm right">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress right">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-lg right">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
      </div>
    </div>
    <div class="panel panel-white">
      <div class="panel-heading">Center text (nonpercentage)</div>
      <div id="center-text-nonpercentage" class="panel-body">
        <h3>Basic progressbar</h3>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="75" class="progress-bar"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Themed progressbars</h3>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Striped progressbars</h3>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Animated progressbars</h3>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped active">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Custom aria range</h3>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="2" aria-valuemin="1" aria-valuemax="6" class="progress-bar"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="40" aria-valuemin="-40" aria-valuemax="200" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="60" aria-valuemax="120" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="80" aria-valuemin="30" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>custom animations</h3>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger six-sec-ease-in-out"></div>
        </div>
      </div>
    </div>
  </div>
</div>