
<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-white">
      <div class="panel-heading">Vertical</div>
      <div class="panel-body">
        <h3>Basic progressbar</h3>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="75" class="progress-bar"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Themed progressbars</h3>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Striped progressbars</h3>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Animated progressbars</h3>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Custom aria range</h3>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="2" aria-valuemin="1" aria-valuemax="6" class="progress-bar"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" aria-valuemin="-40" aria-valuemax="200" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" aria-valuemax="120" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" aria-valuemin="30" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>custom animations</h3>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger six-sec-ease-in-out"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Custom Size</h3>
        <div class="progress progress-xs vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-sm vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-lg vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
      </div>
    </div>
    <div class="panel panel-white">
      <div class="panel-heading">Center text</div>
      <div id="vertical-center-text" class="panel-body">
        <h3>Basic progressbar</h3>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="75" class="progress-bar"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Themed progressbars</h3>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Striped progressbars</h3>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Animated progressbars</h3>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Custom aria range</h3>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="2" aria-valuemin="1" aria-valuemax="6" class="progress-bar"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" aria-valuemin="-40" aria-valuemax="200" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" aria-valuemax="120" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" aria-valuemin="30" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>custom animations</h3>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger six-sec-ease-in-out"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-white">
      <div class="panel-heading">Filled text</div>
      <div id="vertical-filled-text" class="panel-body">
        <h3>Basic progressbar</h3>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="75" class="progress-bar"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Themed progressbars</h3>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Striped progressbars</h3>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Animated progressbars</h3>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Custom aria range</h3>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="2" aria-valuemin="1" aria-valuemax="6" class="progress-bar"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" aria-valuemin="-40" aria-valuemax="200" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" aria-valuemax="120" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" aria-valuemin="30" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>custom animations</h3>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger six-sec-ease-in-out"></div>
        </div>
      </div>
    </div>
    <div class="panel panel-white">
      <div class="panel-heading">Filled text (nonpercentage)</div>
      <div id="vertical-filled-text-nonpercentage" class="panel-body">
        <h3>Basic progressbar</h3>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="75" class="progress-bar"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Themed progressbars</h3>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Striped progressbars</h3>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Animated progressbars</h3>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Custom aria range</h3>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="2" aria-valuemin="1" aria-valuemax="6" class="progress-bar"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" aria-valuemin="-40" aria-valuemax="200" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" aria-valuemax="120" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" aria-valuemin="30" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>custom animations</h3>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger six-sec-ease-in-out"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-white">
      <div class="panel-heading">Vertical (Bottom)</div>
      <div class="panel-body">
        <h3>Basic progressbar</h3>
        <div class="progress vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="75" class="progress-bar"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Themed progressbars</h3>
        <div class="progress vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Striped progressbars</h3>
        <div class="progress progress-striped vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Animated progressbars</h3>
        <div class="progress progress-striped active vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped active vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped active vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped active vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped active vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Custom aria range</h3>
        <div class="progress vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="2" aria-valuemin="1" aria-valuemax="6" class="progress-bar"></div>
        </div>
        <div class="progress vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="40" aria-valuemin="-40" aria-valuemax="200" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="60" aria-valuemax="120" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="80" aria-valuemin="30" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>custom animations</h3>
        <div class="progress vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger six-sec-ease-in-out"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Custom Size</h3>
        <div class="progress progress-xs vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-sm vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-lg vertical wide bottom">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
      </div>
    </div>
    <div class="panel panel-white">
      <div class="panel-heading">Center text (nonpercentage)</div>
      <div id="vertical-center-text-nonpercentage" class="panel-body">
        <h3>Basic progressbar</h3>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="75" class="progress-bar"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Themed progressbars</h3>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Striped progressbars</h3>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Animated progressbars</h3>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress progress-striped active vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>Custom aria range</h3>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="2" aria-valuemin="1" aria-valuemax="6" class="progress-bar"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" aria-valuemin="-40" aria-valuemax="200" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" aria-valuemax="120" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" aria-valuemin="30" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
        <div class="clearfix"></div>
        <h3>custom animations</h3>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning six-sec-ease-in-out"></div>
        </div>
        <div class="progress vertical wide">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger six-sec-ease-in-out"></div>
        </div>
      </div>
    </div>
  </div>
</div>