
<form action="#" class="form-horizontal form-bordered">
  <div class="form-body">
    <div class="form-group">
      <label class="col-md-3 control-label">Default</label>
      <div class="col-md-6">
        <div id="noui-slider-default"></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Range</label>
      <div class="col-md-6">
        <p><span id="slider1val" class="example-val"></span></p>
        <div id="noui-slider-range"></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Stepping and snapping to values</label>
      <div class="col-md-6">
        <p><span id="slider2val" class="example-val"></span></p>
        <div id="noui-slider-step-snap"></div>
      </div>
    </div>
  </div>
</form>